<h1>New Post for <%=@place["name"]%></h1>

<form action="/entries/new?id=<%= @place["id"] %>" method="post">
  <p>
    <label for="title">Title</label>
    <input type="text" name="title">
  </p>
  <p>
    <label for="date">Occurred on</label>
    <input type="date" name="date">
  </p>
  <p>
    <textarea name="description" placeholder="Description"></textarea>
  </p>
  
  <button>Submit</button>
  <p>
  <a href="/places/<%= @place["id"] %>">Go back to posts</a>
  </p>
</form>